@import url(../config/global.css);
@import url(../menu.css);
@import url(../tabla.css);


.hero {
    color: #191919;
    background-color: #ffffff;
}

.hero .pagina-principal {
    padding: 5vh 5vw;
}

.hero .pagina-principal .grilla {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.datos-usuario .nombre p {
    font-size: 7vh;
    font-weight: 700;
}

.datos-estadisticos .contenido-datos-estadisticos {
    display: flex;
    column-gap: 2vw;
    justify-content: space-between;
}

.contenido-datos-estadisticos .estadistica {
    display: grid;
    grid-template-areas:
        "valor icono"
        "titulo icono";
    background-color: #ffffff;
    padding: 0.5vw 1.5vw;
    column-gap: 2vw;
    border-radius: 0.5vw;
    justify-content: space-between;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
    height: 10vh;
    width: 15vw;
}

.estadistica .titulo {
    grid-area: titulo;
}

.estadistica .titulo p {
    color: #00000088;
    font-weight: 600;
    font-size: 1.9vh;
}

.estadistica .valor {
    grid-area: valor;
}

.estadistica .valor p {
    font-size: 4vh;
    font-weight: 700;
}

.estadistica .icono {
    display: flex;
    align-items: center;
    grid-area: icono;
    color: #030303;
}

.estadistica .icono i{
    font-size: 5vh;
}

.graficas {
    margin-top: 5vh;
}

.cont-grafica {
    padding: 1vw 2vw;
    border-radius: 1vw;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.graficas .contenido-graficas {
    display: grid;
    grid-template-areas:
        "ventas-mes ventas-realizar";
    justify-content: space-between;
}

.graficas .ventas-mes {
    grid-area: ventas-mes;
}

.titulo-grafica {
    padding: 0.5vw;
    border-bottom: 1px solid rgb(233, 231, 231);
}

.titulo-grafica p {
    font-size: 3vh;
    font-weight: 600;
    color: #00000088;
}

.grafica-ventas-mes #myChart {
    width: 50vw;
}

.graficas .ventas-realizar {
    grid-area: ventas-realizar;
}

.ventas-realizar #myDona {
    height: 40vh;
}

/* TABLA */

/* INFORMACION DATOS (MODAL)*/

.editar-formulario .contenido {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    margin: 2% auto;
    padding: 0 2vw;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    width: 80vw;
    height: 90vh;
    overflow: auto;
}

.editar-formulario .contenido .modal-cabecera {
    display: flex;
    border-bottom: 1px solid var(--fondo);
}
.editar-formulario .contenido .modal-cuerpo {
    display: grid;
    grid-template-areas:
    "agente"
    "editar"
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente-venta{
    grid-area: agente;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente{
    display: flex;
    padding: 2vw 0;
    justify-content: space-around;
}

.editar-formulario .contenido .modal-cuerpo .informacion-editar{
    grid-area: editar;
    display: grid;
    grid-template-areas: 
    "info-venta info-editable";
    grid-template-columns: 2fr 1fr;
}

.informacion-editar .contenido-venta{
    grid-area: info-venta;
    display: grid;
    row-gap: 20px;
}

.informacion-editar .campo .texto{
    font-weight: bold;
}

.informacion-editar .contenido-editable{
    grid-area: info-editable;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    row-gap: 20px
}

.entrada textarea{
    height: 80px;
    width: 30vw;
    resize: none;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}

.modal-footer .boton{
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 0.5vw;
    padding: 1vw 2vw;
    cursor: pointer;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: none;
}

.btn-danger{
    background-color: red;
    padding: 1vw;
    color: var(--blanco);
    border-radius: 0.5vw;
    font-size: 1.1vw;
    margin: 20px;
    width: 10vw;
}

.btn-success{
    background-color: blue;
    padding: 1vw;
    color: var(--blanco);
    border-radius: 0.5vw;
    margin: 20px;
    font-size: 1.1vw;
    width: 10vw;
}

/* FIN TABLA */
.boton{
    width: 15dvw;
}

.filtros-tabla{
    display: flex;
    padding: 25px;
    background-color: #f2f2f2;
    border-radius: 0.5vw;
    justify-content: space-around
}

.filtros-tabla .buscar-por-estado, .buscar-por-intervalo, .buscar-fecha{
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
}

.filtros-tabla 
select{
    width: 12.5vw;
    padding: 0.5vw 1vw;
    box-sizing: border-box;
}

.buscar-fecha input {
    width: 11vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.5vw;
}

.buscar-por-estado input{
    width: 11vw;
    border: none;
    border-radius: 0.5vw;
}

.buscar-por-estado select{
    width: 11vw;
    border: none;
    border-radius: 0.5vw;
}

.filtros-tabla .buscar-por-intervalo .filtros-intervalo{
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
}

.buscar-por-intervalo .boton-buscar button{
    margin: 0 0.5dvw;
}

.buscar-por-intervalo input{
    width: 11vw;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 0.5vw;
}

.filtros-activos{
    display: grid;
    justify-items: center;
    justify-content: end;
}

.filtros-activos .filtro {
    display: inline-block;
    background-color: var(--primario);
    padding: 5px 20px;
    border-radius: 0.5vw;
}

.filtros-activos .filtro p {
    color: var(--blanco);
}

.filtros-activos .filtro .quitar-filtro{
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    .contenido-datos-estadisticos .estadistica {
      
        grid-template-areas:
            "valor icono"
            "titulo titulo";
        column-gap: 2vw;
        height: 13vh;
        width: 22vw;
    }
  

}