@import url(../config/global.css);
@import url(../menu2.css);
@import url(../tabla2.css);

.hero {
    color: #191919;
    background-color: #ffffff;
}

.hero .pagina-principal {
    padding: 5vh 5vw;
}

/* TABLA */

/* INFORMACION DATOS (MODAL)*/

.editar-formulario .contenido {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    margin: 2% auto;
    padding: 0 2vw;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    width: 80vw;
    height: 90vh;
    overflow: auto;
}

.editar-formulario .contenido .modal-cabecera {
    display: flex;
    border-bottom: 1px solid var(--fondo);
}
.editar-formulario .contenido .modal-cuerpo {
    display: grid;
    grid-template-areas:
    "agente"
    "editar"
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente-venta{
    grid-area: agente;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente{
    display: flex;
    padding: 2vw 0;
    justify-content: space-around;
}

.editar-formulario .contenido .modal-cuerpo .informacion-editar{
    grid-area: editar;
    display: grid;
    grid-template-areas: 
    "info-venta info-editable";
    grid-template-columns: 2fr 1fr;
}

.informacion-editar .contenido-venta{
    grid-area: info-venta;
    display: grid;
    row-gap: 20px;
}

.informacion-editar .campo .texto{
    font-weight: bold;
}

.informacion-editar .contenido-editable{
    grid-area: info-editable;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    row-gap: 20px
}

.entrada textarea{
    height: 80px;
    width: 30vw;
    resize: none;
}





