@import url(./config/global.css);
@import url(./menu.css);
@import url(./tabla.css);


body{
    background-color: #EFF0F8;
}

/* TABLA */

/* INFORMACION DATOS (MODAL)*/

.editar-formulario .contenido {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    margin: 2% auto;
    padding: 0 2vw;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    width: 80vw;
    height: 90vh;
    overflow: auto;
}

.editar-formulario .contenido .modal-cabecera {
    display: flex;
    border-bottom: 1px solid var(--fondo);
}
.editar-formulario .contenido .modal-cuerpo {
    display: grid;
    grid-template-areas:
    "agente"
    "editar"
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente-venta{
    grid-area: agente;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.editar-formulario .contenido .modal-cuerpo .informacion-agente{
    display: flex;
    padding: 2vw 0;
    justify-content: space-around;
}

.editar-formulario .contenido .modal-cuerpo .informacion-editar{
    grid-area: editar;
    display: grid;
    grid-template-areas: 
    "info-venta info-editable";
    grid-template-columns: 2fr 1fr;
}

.informacion-editar .contenido-venta{
    grid-area: info-venta;
    display: grid;
    row-gap: 20px;
}

.informacion-editar .campo .texto{
    font-weight: bold;
}

.informacion-editar .contenido-editable{
    grid-area: info-editable;
    height: 20vh;
    display: grid;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    row-gap: 20px;
}

.entrada textarea{
    height: 80px;
    width: 30vw;
    resize: none;
}

.editar-formulario .contenido .modal-footer{
    text-align: end;
}

.editar-formulario .contenido .modal-footer .boton{
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 0.5vw;
    padding: 1vw 2vw;
    cursor: pointer;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: none;
}

.pagina .contenedor {
    padding: 2vw;
    display: grid;
    grid-template-areas:
        "estadisticas opciones"
        "tabla opciones";
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    justify-items: center;
}

.contenedor .datos-estadisticos{
    grid-area: estadisticas;
}

.datos-estadisticos .contenido-datos-estadisticos {
    display: flex;
    column-gap: 2vw;
    justify-content: flex-start;
}

.contenido-datos-estadisticos .estadistica {
    display: grid;
    grid-template-areas:
        "valor icono"
        "titulo titulo";
    background-color: #ffffff;
    padding: 0.5vw 1.5vw;
    column-gap: 2vw;
    border-radius: 0.5vw;
    justify-content: space-between;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.08);
    height: 10vh;
    width: 15vw;
}

.estadistica .titulo {
    grid-area: titulo;
}

.estadistica .titulo p {
    color: #00000088;
    font-weight: 600;
    font-size: 1.9vh;
}

.estadistica .valor {
    grid-area: valor;
}

.estadistica .valor p {
    font-size: 4vh;
    font-weight: 700;
}

.estadistica .icono {
    display: flex;
    align-items: center;
    grid-area: icono;
    color: #030303;
}

.estadistica .icono i{
    font-size: 5vh;
}

.pagina .contenedor .opciones{
    grid-area: opciones;
}

/* TABLA */

.pagina .contenedor .contenido-tabla .tabla {
    height: 45vh;
    width: 60vw;
}

.pagina .contenedor .contenido-tabla .tabla {
    text-align: center;
    border-radius: 0.5vw;
    font-size: 1vw;
    padding: 0.2vw;
}

.pagina .contenedor .contenido-tabla .tabla td {
    text-overflow: ellipsis;
}

/* FIN TABLA */

.contenedor .opciones .tarjetas{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contenedor .opciones .tarjetas .tarjeta{
    background-color: #ffffff;
    display: flex;
    padding: 1.2vw 1vw;
    border-radius: 0.5vw;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta .cabecera{
    display: flex;
    column-gap: 2vw;
}

.tarjeta .cabecera .icono i{
    font-size: 2vw;
}

.tarjeta .cabecera .titulo p{
    font-size: 1.2vw;
    font-weight: 600;
}

.tarjeta .cuerpo .descripcion p{
    font-size: 1vw;
}

.tarjeta .pie{
    text-align: end;
}

.tarjeta .pie a{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.tarjeta .pie a:hover {
    background-color: var(--hover-primario);
}

